{% extends 'Home.html' %}

{% block content %}
{% load static %}

<div class="container-fluid background_color border_background_color">
    <div class="row m-2 container-fluid">
        <div class="col-12 col-lg-8 text-center"> </div>
    </div>
    <div class="row m-2 container-fluid">
        <div class="col-12 ">
            <div class="text-center">
                <h1>
                    <br/>
                    <b>Organisatorisches Sicherheitskonzept</b>
                </h1>
            </div>
            <br/>
            <div class="image-container_slim m-2 p-0">
                <img src="{% static 'images/O1paris.jpg' %}"alt="Description of image" class="responsive-image">
            </div>
            <br/>
            
            
            <div class="text-center divstyle">
                <br/>
                <h2 >
                    <b>Gestaltung und Beherrschung von Technik durch den Menschen</b>
                </h2>
                <br/>
                <h4>
                     Die Sicherheit beim Betrieb einer komplexen Technik ist dann gegeben,<br/>
                     wenn die Anforderungen an die Auslegung, Herstellung, Montage,<br/>
                     Inbetriebsetzung sowie den Betrieb und die Instandhaltung der Technik<br/> 
                     die Fähigkeiten der dafür eingesetzten Organisation und des dafür eingesetzten Personals nicht übersteigen. 
                </h4>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>


    {% endblock %}