{% extends 'Home.html' %}

{% block content %}
{% load static %}

    <div class="container-fluid background_color border_background_color">
        <div class="row m-2 container-fluid">
            <div class="col-12 col-lg-8 text-center"> </div>
        </div>
        <div class="row m-2 container-fluid">
            <div class="col-12 ">
                <div class="text-center">
                    <h1>
                        <b>Betriebliches Sicherheitsmanagement</b>
                    </h1>
                </div>
                <div class="image-container m-2 p-0">
                    <img src="{% static 'images/12345.jpg' %}">
                </div>
                <div class="text-center divstyle">
                    <h4>
                        <b>Ein betriebliches Sicherheitsmanagement wird in Abhängig von der zu
                            beherrschenden Technik entwickelt.t</b>
                    </h4>
                    <h4>
                        Baumann Consulting unterstützt die Entwicklung einer sicherheitsorientierten technischen
                        Auslegung von
                        Strukturen, Systemen und Komponenten im Kraftwerksbereich
                        und die dafür erforderliche sicherheitsorientierte Entwicklung von Mensch & Organisation
                        durch Mitarbeit in Projekten und Schulung der Mitarbeiter
                    </h4>
                 
            </div>
        </div>
    </div>            
 {% endblock %}