{% extends 'Home.html' %}

{% block content %}
{% load static %}

<div class="container-fluid background_color border_background_color">
    <div class="row m-2 container-fluid">
        <div class="col-12 col-lg-8 text-center"> </div>
    </div>
    <div class="row m-2 container-fluid">
        <div class="col-12 ">
            <div class="text-center">
                <h1>
                    <br/>
                    <b>Betriebliches Sicherheitsmanagement</b>
                </h1>
            </div>
             
            <div class="image-container_slim m-2 p-0">
                <img src="{% static 'images/T2.1.jpg' %}" >
            </div>
            <div class="text-center divstyle">
                <br/>
                <h2>
                    <b>Ein betriebliches Sicherheitsmanagement wird in Abhängig von der zu<br/>
                        beherrschenden Technik entwickelt</b>
                </h2>
                <br/>
                <h4>
                    Baumann Consulting unterstützt die Entwicklung einer sicherheitsorientierten technischen Auslegung von<br/>
                    Strukturen, Systemen und Komponenten im Kraftwerksbereich<br/>
                    und die dafür erforderliche sicherheitsorientierte Entwicklung von Mensch & Organisation<br/>
                    durch Mitarbeit in Projekten und Schulung der Mitarbeiter
                </h4>
                <br/>
                 
                   
                     
            </div>
        </div>
    </div>


    {% endblock %}