{% extends 'Home.html' %}

{% block content %}

        <div class="divstyle">

            <div class="row m-2 container-fluid border_background_color">
                <div class="col-12 col-lg-8">
                    <h3>Betriebliches Sicherheitsmanagement</h3>

                </div>

                <div class="col-12 m-2 container-fluid text-center">
                    <p>
                    <p><b>Baumann Consulting unterstützt</b></p>
                    die Entwicklung eines einheitlichen Mindsets zum
                    Sicherheitsmanagement sowie die Entwicklung einer
                    sicherheitsorientierten technischen Auslegung und die sicherheitsorientierte Entwicklung von Mensch
                    &
                    Organisation
                    </p>
                </div>

            </div>
            <div class="row m-2 container-fluid">
                <div class="col-12 col-lg-4 text-center">
                    <a href="#" class="btn btn-light btn-lg btn-circle mb-3 btn-circle"></a>
                    <p>
                    <p> <b>Sicherheitsmanagement</b> </p>
                    Ein angemessenes betriebliches Sicherheitsmanagement wird in der Regel in Abhängig von der
                    Primäraufgabe eines Unternehmens entwickelt.
                    Die Primäraufgaben von Risiko- oder Hochrisiko-Unternehmen können ein äusserst komplexes
                    Sicherheitsmanagement erfordern. Dies ist von der Komplexität der eingesetzten bzw. zu
                    beherrschenden Technik abhängig.
                    </p>
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <a href="#" class="btn btn-light btn-lg btn-circle mb-3 btn-circle"></a>

                    <p>
                    <p><b>Sicherheitsorientierte Auslegung</b></p>
                    Die Sicherheit beim Betrieb einer komplexen Primäraufgabe ist dann gegeben, wenn die
                    Auslegungsgrenzen der eingesetzten Technik unter allen denkbaren sowie wahrscheinlichen
                    Betriebsbedingungen nicht verletzt werden, im bestimmungsgemässen Betrieb Betriebsgrenzen
                    eingehalten werden und genügend Sicherheitsabstand zu den Auslegungsgrenzen besteht.
                    </p>
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <a href="#" class="btn btn-light btn-lg btn-circle mb-3 btn-circle"></a>
                    <p>
                    <p><b>Sicherheitsorientierte Entwicklung von Mensch & Organisation</b></p>
                    Die Sicherheit beim Betrieb einer komplexen Primäraufgabe ist dann gegeben, wenn die
                    Anforderungen
                    an die Auslegung, Herstellung, Montage, Inbetriebsetzung sowie den Betrieb und die
                    Instandhaltung
                    dieser Technik die Fähigkeiten der dafür eingesetzten Organisation und des dafür eingesetzten
                    Personals nicht übersteigen.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}