{% extends 'Home.html' %}

{% block content %}
{% load static %}
    <div class="container-fluid background_color border_background_color">
        <div class="divstyle">
            <div class="row m-1 container-fluid">
                <div class="col-12 col-lg-12 m-2  text-center" style="border-bottom: 1px solid black;">
                    <h1><b>Baumann Consulting</b></h1>
                </div>
                <h1>Contacts</h1>
                <h1>Total contacts: <b>{{ contacts_count }}</b></h1> <!-- Отображаем статистику -->
                <img src="{% url 'plot_contacts_statistics' %}" alt="Contacts Plot" width="400" height="300">
                <ul>
                    {% for contact in contacts %}
                        <li>
                            Thema: {{ contact.thema }}<br>
                            Vorname: <b>{{ contact.vorname }}</b><br>
                            Nachname: <b>{{ contact.nachname }}</b><br>
                            Firma: {{ contact.firma }}<br>
                            Telephone: {{ contact.telephone }}<br>
                            Email: {{ contact.email }}<br>
                            Betreff: {{ contact.betreff }}<br>
                            Nachricht: {{ contact.nachricht }}<br>
                        </li><br>
                    {% endfor %}
                </ul>
            </div> 
            <!-- Вставляем изображение графика -->
            

        </div>
    </div>
{% endblock %}
